/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
/* Локальне підключення шрифтів */
@import url("fonts.css");

/* reset */
@import url("reset.css");

/* components */
@import url("components.css");

/* Основні стилі */
body {
	font-family: "Poppins" ,sans-serif;
	line-height: 1.5; 
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}


/* =========== common =========== */
.page {}

.page__container {}

.page__title {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	padding: 50px 0;
	color: #000;
	letter-spacing: 8px;
}
.title {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
}
.title--centered {
	text-align: center;
	margin-bottom: 32px;
}
/* ============= header =============== */
.header {
	background-color: #00B207;
}
.header__title {
	font-size: 38px;
	font-weight: 700;
	text-align: center;
}

/* ============= ecobazar__container ============ */
.ecobazar__container {}

.ecobazar__products {
	margin-bottom: 60px;
}
.ecobazar__header {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ecobazar__header:not(:last-child) {
	margin-bottom: 32px;
}
.ecobazar__title {
	flex-grow: 1;
}




/*=========== card ============*/
.products-cards {
	display: flex;
	flex-wrap: wrap;
	/* display: none; */
}
.card__item {
	border: 1px solid #E6E6E6;
	position: relative;
	margin: 0 -1px -1px 0;
	flex: 0 0 calc(264px + 1px);
	transition: all 0.5s ;
}
.card__item:hover {
	border-color: #2C742F;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
	z-index: 2;
}
.card__item:hover .cart-button {
	background-color: #00B207;
}
.card__item:hover .cart-button:hover {
	background-color: #2C742F;
}
.card__item:hover .cart-button>svg {
	stroke: #fff;
}
.card__item:hover .card__links {
	opacity: 1;
	visibility: visible;
}
.card__body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.card__image {
	aspect-ratio: 254 / 230;
	object-fit: contain;
}
.card__image img {
	width: 100%;
	height: 100%;
}
.card__inner {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 12px;
	flex-grow: 1;
	justify-content: space-between;
}
.card__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
}
.card__title {
	color: #4D4D4D;
	flex-grow: 1;
}
.card__title a {
	transition: color 0.9s;
}
.card__title a:hover {
	color: #2C742F;
}
.card__price {}



/* ============ ecobazar__news ===========*/
.ecobazar__news {
	/* display: none; */
}
.news {}

.news__title {}

.news__body {}

.blog {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}
.blog__item {
	display: flex;
	flex-direction: column;
	flex-basis: 424px;
	flex-shrink: 1;
	/* flex-grow: 1; */
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
	border-radius: 0 0 8px 8px;
}
.blog__header {
	position: relative;
}
.blog__date {
	position: absolute;
	bottom: 24px;
	left: 24px;
}
.blog__image-link {
	aspect-ratio: 424 / 324;
	object-fit: cover;
	overflow: hidden;
	background-color: #f2f2f2;
	border-radius: 8px 8px 0 0;
	db
}
.blog__image-link img {
	width: 100%;
	height: 100%;
	transition:  0.7s ;
}
.blog__image-link img:hover {
	transform: scale(1.02);
}
.blog__content {
	display: flex;
	flex-direction: column;
	padding: 24px;
	border-radius: 0 0 8px 8px;
	height: 100%;
	flex-grow: 1;
}
.blog__actions {
	color: #4D4D4D;
	margin-bottom: 8px;
}
.action__item-link {}

.blog__title {
	font-size: 18px;
	font-weight: 500;
	color: #1A1A1A;
	flex-grow: 1;
	transition: color 0.5s;
}
.blog__title:not(:last-child) {
	margin-bottom: 20px;
}
.blog__title:hover {
	color: #2C742F;
}
.blog__title-link {}



/* ============= media ============ */
@media (any-hover:hover) {
	.card__item:hover .card__links {
			opacity: 1;
			visibility: visible;
		}
}
@media (any-hover:none) {
	.card__item .card__links {
		opacity: 1;
		visibility: visible;
	}
}


@media (max-width:1350px) {
	.card__item {
		flex: 0 0 calc(100% / 4);
	}
	.page__title {
		padding: 20px 0;
	}
	.blog__item {
		flex: 0 1 calc(100% / 3 - ((24px * (3 - 1)) / 3));
	}
}
@media (max-width:1221px) {
	.blog__actions a {
		font-size: 14px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
@media (max-width:1100px) {
	.card__item {
		flex: 0 0 calc(100% / 3);
	}
	.blog__item {
		flex: 0 1 calc(100% / 2 - ((24px * (2 - 1)) / 2));
	}
	.blog__image-link {
		width: 100%;
	}
	.ecobazar__products {
		margin-bottom: 20px;
	}
}
@media (max-width:835px) {
	.card__item {
		flex: 0 0 calc(100% / 2);
	}
}
@media (max-width:759px) {
	.action__item-link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.blog__actions {
		justify-content: space-around;
	}
	.blog__content {
		padding: 8px;
	}
}
@media (max-width:665px) {
	.blog__item {
		flex: 0 1 calc(100% / 1 - ((24px * (1 - 1)) / 1));
	}
	.news__body {
		gap: 12px;
	}
	.blog__title:not(:last-child) {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.action__item-link {
		display: flex;
		flex-direction: row;
	}
}
@media (max-width:570px) {
	.card__item {
		flex: 0 0 calc(100% / 1);
	}
}
@media (max-width:493px) {
	.page__title {
			font-size: 36px;
			letter-spacing: normal;
			padding: 10px 0;
		}
}
@media (max-width:440px) {
	.ecobazar__header {
		display: flex;
		flex-direction: column;
		margin-bottom: 5px;
		gap: 5px;
	}
	.ecobazar__title {
		font-size: 24px;
	}
}
@media (max-width:383px) {
	.blog__actions {
		display: flex;
		justify-content: space-around;
	}
}
@media (max-width:351px) {
	.blog__actions a {
		flex-direction: column;
		align-items: center;
	}
}