/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");
/* Локальне підключення шрифтів */
@import url("fonts.css");

/* reset */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Poppins", sans-serif;
	color: #808080;
	line-height: 150%;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
[class*="container"] {
	max-width: 1302px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 2px 3px #000;
	margin-bottom: 20px;
	line-height: 1.5;
}


/* header */
.header {
		background: radial-gradient(2900.76% 50.13% at 50% 53.89%,
		 rgba(58, 52, 86, 0.95) 0%, 
		 #211E2E 100%);
		 color:rgba(255, 255, 255, 0.95);
}
.header-container {
	max-width: 678px;
}
.header-nav-list {
	text-align: center;
	padding: 30px 0;
	margin: 0 -20px;
	line-height: 1.5;
	font-size: 0;
}
.list-item {
	display: inline-block;
	padding: 0 20px;
	text-shadow: 0 2px 3px #000;
}
.list-item-link {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 22px;
	font-weight: 700;
}



/* ===========ecobazar-content============ */
 .ecobazar-container {
	max-width: 678px;
}
 .page-ecobazar {
	padding: 45px 0;
 }
 .ecobazar-title {}

 .ecobazar-descriptions {}
 
.ecobazar-content>p {
	margin-bottom: 20px;
}
.ecobazar-list {
	margin-bottom: 20px;
}
.ecobazar-list>li {
	background: url("../img/Check.svg") 0 top / 20px no-repeat;
	padding-left: 25px;
	margin-bottom: 14px;
	min-height: 20px;
}
/* прибрав нижній margin, бо при розширенні списку буде приліпати останній елемент */
.ecobazar-list .ecobazar-item-last {
	/* margin-bottom: 0; */
}
.ecobazar-text {}


/* ===========hydra-about============= */
.hydra-about {
	background-color: #302C42;
	font-family: "Montserrat", sans-serif;
	padding: 45px 0;
	color: #fff;
}
.about {}

.about-inner {
	background: url("../img/Group\ 1.png") 0 center / contain no-repeat;
	margin-bottom: 50px;
}
.about-image {
	display: inline-block;
	border-radius: 43% 19%;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: #A3A3A3;
	margin-right: 108px;
	max-width: 524px;
	min-height: 557px;
	width: 100%;
}
.about-content {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	max-width: 630px;
}
.about-content p {
	width: 100%;
	line-height: normal;
	margin-bottom: 28px;
	min-height: 100%;
	line-height: 1.5;
}
.about-title {
	font-size: 36px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.95);
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 42px;
	max-width: 193px;
}
.about-title>span {
	color: #fff;
	font-weight: 700;
}
.about-button {
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	border-radius: 40px;
	color: #343045;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	max-width: 214px;
	width: 100%;
	padding: 20px 40px;
	text-align: center;
}


/* =============page-hydra================ */
.page-hydra {
	font-family: "Montserrat", sans-serif;
	padding: 45px 0;
	color: #fff;
}
.hydra {}

.hydra-container {}

.hydra-contacts {}

.hydra-contacts-list {
	background:radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) ;
	border-radius: 90px;
	padding: 25px 20px;
	font-size: 0;
	box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
.hydra-item {
	display: inline-block;
	width: 33.333%;
	font-size: 14px;
	vertical-align: middle;
	max-width: 400px;
	width: 100%;
	min-height: 116px;
}
.hydra-item.location {
	padding-left: 20px;
}
.hydra-item.phone {
	padding-left: 48px;
}
.hydra-item.email {
	padding-left: 50px;
}
.hydra-content {
	padding: 30px 5px 30px 70px;
}
.hydra-content-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}
.first-bottom {
	margin-bottom: 9px;
}
.hydra-content-link {}

.hydra-content.location {
	background: url("../img/map-icon.svg") center left / 38px no-repeat;
	min-height: 40px;
	border-right: 1px solid rgba(192, 183, 232, 0.33);
}
.hydra-content.phone {
	background: url("../img/phone-icon.svg") center left / 50px no-repeat;
	min-height: 40px;
	border-right: 1px solid rgba(192, 183, 232, 0.33);
}
.hydra-content.email {
	background: url("../img/mail-icon.svg") center left / 50px no-repeat;
	min-height: 40px;
}




/* ===========section-practice=========== */
.section-practice {
	padding: 45px 0;
}
.practice-container {
	
}

.circle {
	margin: 0 auto;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	color: #000;
	background-color: #8176AF;
	opacity: 0.8;
	box-shadow: 0 5px 7px #000,
	7px 7px 05px	rgba(255, 255, 255, 0.95);
	margin-bottom: 20px;
}
.square {
	width: 100px;
	height: 100px;
	background-color: rgba(192, 183, 232, 0.33);
	margin: 0 auto;
	visibility: hidden;
	margin-bottom: 20px;
}
.practice-text {
	margin: 0 auto;
	padding: 20px;
	text-align: end;
	background-color: rgba(192, 183, 232, 0.33);
	border-left: 5px solid #000;
	border-top: 5px dashed purple;
	border-right: 5px dotted plum;
	border-bottom: 5px double red;
	outline: 5px solid #302C42;
}




/* footer */
.footer {
	color: rgba(255, 255, 255, 0.95);
	text-shadow: 0 2px 3px #000,
					1px 0 2px gray;
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	padding: 45px 0;
}
.footer-link {
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	display: block;
}
