/* product */
.product {}

.product__order {
	display: flex;
	align-items: center;
	gap: 6px;
	max-width: 376px;
}
.product__link {
	transition:  0.5s;
}
.product__link .product__title:hover {
	text-decoration: underline;
}
.product__link .product__image:hover {
	transform: scale(1.1);
}
.product__image {
	max-width: 60px;
}
.product__title {
}

.product__inner {
	display: flex;
	align-items: center;
	gap: 6px;
}
.product__quantity {}

.product__amount {
	font-weight: 500;
	color: #1A1A1A;
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}


/* order-button */
.button-submit {
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	line-height: 1.2;
	background-color: #00B207;
	border: 1px solid #00B207;
	border-radius: 43px;
	padding: 16px 40px;
	transition:  0.5s;
}
.button-submit:hover {
	background-color: transparent;
	color: #00B207;
}
.button-submit:focus-visible {
	outline: 2px solid gray;
	box-shadow: 2px 3px 2px gray;
}




