/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
/* Локальне підключення шрифтів */
@import url("fonts.css");

/* reset */
@import url("reset.css");

/* components */
@import url("components.css");

/* Основні стилі */
body {
	color: #fff;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	line-height: 1.5; 
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
/* [class*="container"] {
	max-width: 1350px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
} */

 /* [class*="container"] {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
} */


/* =========== common =========== */
.page {}

.page__container {}

.up {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #FFBA49;
	border: 5px solid #F35B09;
	position: fixed;
	bottom: 10%;
	right: 5%;
	z-index: 20;
}
.up:hover {
	cursor: pointer;
	background-color: #F35B09;
	border: 5px solid #FFBA49;
}
.up__link {
	font-size: 22px;
	padding: 20px;
}
.title {
	font-family: "Circular std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	max-width: 602px;
	margin-bottom: 13px;
}
.hero-title {
	font-family:monospace;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 8px;
	color: #5A54F2;
	text-shadow: 2px 3px 4px #000;
	padding: 100px 0 50px;
}

/* ==========header========= */
header {
	background:linear-gradient(180deg, #F2F5F3 -6.99%, #5A54F2 125%);
	color: gray;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.header__menu {
	font-size: 0;
	margin: 0 -10px -10px 0;
	text-align: center;
}
.header__item {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0 15px 0 0;
}
.header__item:hover .header__link{
	background-color: #5A54F2;
	color: #fff;
	text-decoration: none;
}
.header__item:hover .sub-menu {
	opacity: 1;
	visibility: visible;
}
.header__link {
	position: relative;
	text-transform: capitalize;
	font-size: 26px;
	text-decoration: underline;
	padding: 20px 20px;
	min-height: 30px;
}
.header__link::after {
	content: "";
	background: url("../img/check.svg") 0 center no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 25px;
	right: -15px;
}
.header__menu-sub {
	padding-top: 10px;
}
.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
}
.sub-menu__item {
	background-color: #5A54F2;
}
.sub-menu__item:first-child {
	padding-top: 10px;
}
.sub-menu__item:last-child {
	padding-bottom: 10px;
}
.sub-menu__link {
	width: 100%;
	font-size: 18px;
	padding: 10px 20px;
	color: #fff;
	text-align: center;
}
.sub-menu__link:hover {
	text-decoration: underline;
}


/* ========== some-block =============*/
.some-block {
	color: #000;
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}
.some-block__box {
	max-width: 1280px;
	min-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 26px;
}
.some-block__box--blue {
	background-color: #231f8b;
	position: sticky;
	top: 85px;
}
.some-block__box--orange {
	background-color: #FFBA49;
	position: sticky;
	top: 85px;
}
.some-block__box--green {
	background-color: #2C742F;
	position: sticky;
	top: 85px;
}


/* ============ cards-product ========= */
.cards-product {
	padding: 50px 0;
}
.cards-product__container {
	max-width: 1350px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.cards-product__body {}

.cards-product__list {
	font-size: 0;
}
.product-card {}

.product-card__item {
	font-size: 18px;
	border: 1px solid #E6E6E6;
	background: #fff;
	display: inline-block;
	min-width: 244px;
	width: 20%;
}
.product-card__item:hover {
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
	border: 1px solid #2C742F;
}
.product-card__item:hover .product-card__title {
	color: #2C742F;
}
.product-card__item:hover .link-product {
	opacity: 1;
	visibility: visible;
}
.product-card__item:hover .basket-box__link {
	background-color: #00B207;
	/* transition: all 0.8s; */
}
/* .product-card__item:hover .rating-star {
	opacity: 0;
	visibility: hidden;
} */
.product-card__item .basket-box__link:hover {
	background-color: #2C742F;
}
.product-card__inner {
	position: relative;
}
.product-card__image-link {
	position: relative;
	padding: 5px;
	max-width: 254px;
	height: 230px;
}
.product-card__image-link img {
	width: 100%;
	height: 100%;
}
.product-card__links {}

.product-card__content {
	padding: 12px
}
.product-card__block {
	font-size: 0;
	max-width: 240px;
}
.product-card__title {
	color: #4D4D4D;
}
.product-card__title-link {}

.product-card__item-price {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.price-item {
	font-size: 16px;
	font-weight: 500;
	color: #1A1A1A;
}
.price-item__number {}

.price-item__number--old {
	text-decoration: line-through;
	color: #999;
}


/* ============ technology ============ */
.section-technology {
	background-color: #5A54F2;
	/* display: none; */
	margin-top: 80px;
}
.technology__container {
	max-width: 1516px;
	padding: 0 15px;
	margin: 0 auto;
}
.section-technology {
	position: relative;
}
.technology {}

.technology::before,
.technology::after {
	content: "";
	position: absolute;
	left: -5%;
	width: 110%;
	height: 55px;
}
.technology::before {
	top: 0;
	border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
	background-color: #fff;
}
.technology::after {
	bottom: 0;
	border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
	background-color: #231f8b;
}
.technology__container {}

.technology__body {
	position: relative;
}
.technology__body::before {
	content: "";
	background: url("../img/dots-vertical.svg")0 0 no-repeat;
	width: 214px;
	height: 472px;
	min-height: 472px;
	position: absolute;
	top: 433px;
	left: 48px;
}
.technology__body::after {
	content: "";
	background: url("../img/dots-horisontal.svg")0 0 no-repeat;
	width: 472px;
	height: 214px;
	min-height: 214px;
	position: absolute;
	bottom: 11.33%;;
	right: -150px;
}
.technology__row {
	font-size: 0;
}
.technology__inner {
	font-size: 18px;
}
.technology__row--top {
	padding-bottom: 43px;
	max-width: 1102px;
	margin-left: 126px;
}
.technology__row--margin {}

.technology__image {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: 430px;
	height: 548px;
	z-index: 5;
}
.image {
	max-width: 100%;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}
.dots-horisontal {
	position: absolute;
	top: 34.67%;
	left: 32.79%;
	z-index: -1;
}
.dots-vertical {
	position: absolute;
	top: 76.09%;
	left: -22.09%;
	z-index: -1;
}
.technology__image--top {
	/* margin-top: -14px; */
}
.technology__image--top::before {
	content: "";
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 5px solid #FFBA49;
	position: absolute;
	top: 30.66%;
	left: -29.77%;
}
.technology__image--top::after {
	content: "";
	width: 401px;
	height: 401px;
	border-radius: 50%;
	border: 5px solid #FFBA49;
	position: absolute;
	top: 38.87%;
	left: -25.12%;
	z-index: -1;
}
.technology__image--margin-rigth {
	margin-right: 70px;
}
.technology__inner {
	display: inline-block;
}
.technology__inner--top {
	padding-top: 97px;
}
.technology__inner--bottom {
	margin-right: 70px;
}
.technology__content {
	max-width: 602px;
}
.technology__content>p:not(:last-child) {
	margin-bottom: 39px;
}
.technology__content--top {}

.technology__content--title {}

.technology__row--bottom {
	padding-top: 43px;
	/* max-width: 978px; */
	margin-left: 378px;
}
.technology__content--margin-rigth {}

.technology__image--bottom {}

.technology__image--bottom::before {
	content: "";
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 5px solid #FFBA49;
	position: absolute;
	top: -8.76%;
	left: 21.40%;
}
.technology__image--bottom::after {
	content: "";
	width: 262px;
	height: 262px;
	border-radius: 50%;
	border: 5px solid #FFBA49;
	position: absolute;
	top: -4.74%;
	right: -23.54%;
	z-index: -1;
}



/* =========footer========= */
.section-footer {
	padding: 50px 0;
	background-color: lightgrey;
	color: #5A54F2;
}
.section-footer__container {}

.section-footer__menu {
	margin: 0 -20px -20px 0;
}
.menu-footer {
	font-size: 0;
	text-align: center;
}
.menu-footer__item {
	display: inline-block;
	padding: 0 20px 20px 0;
}
.menu-footer__link {
	font-size: 38px;
}
.menu-footer__link:hover {
	color: #00B207;
}













