/* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
/* Локальне підключення шрифтів */
@import url("fonts.css");

/* reset */
@import url("reset.css");

/* components */
@import url("components.css");

/* Основні стилі */
body {
	color: #000;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5; 
	background-color: #f5f5f5;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
 /* [class*="container"] {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
} */


/* =========== common =========== */
.page {
	
}
.page__container {}

.hero-title {
	font-size: 48px;
	text-align: center;
	font-weight: 700;
	padding: 30px 0;
	color: red;
}
.title {
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	padding: 30px 0;
}


/* blocks */
.block {
	padding: 0 12px 12px;
	display: inline-block;
	text-align: start;
}
.blocks__row {
	text-align: center;
	display: inline-block;
	font-size: 0;
	margin: 0 -12px -12px;
}
.block__col {}

.blocks__container {}

.block__box {
	display: inline-block;
	width: 200px;
	min-height: 200px;
	font-size: 16px;
	background-color: #3C4A57;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	vertical-align: top;
	padding: 20px;
}
.block__box>p {
	text-align: center;
	text-transform: capitalize;
	color: #fff;
}
.block__inner {
	width: 100%;
	min-height: 150px;
	background-color: #A8B0B9;
	box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	transition: all 0.6s;
}
.block__inner:not(:last-child) {
	margin-bottom: 10px;
}
.block__content {
	font-size: 140px;
	font-weight: 700;
	text-align: center;
	height: 155px;
	line-height: 150px;
	color: #f0f0f0;
}
.block__inner--01 {}

.block__box:hover .block__inner--01 {
	transform: translate(20%,0);
	/* translate: 20% 0; */
}
.block__box:hover .block__inner--02 {
	transform: translate(-20%, 20%);
	/* translate: -20% 20%; */
}
.block__box:hover .block__inner--03 {
	transform: translate(0, -100%);
	/* translate: 0 -100%; */
}
.block__box:hover .block__inner--04 {
	transform:scale(1.5);
	/* scale: 1.5; */
}
.block__box:hover .block__inner--05 {
	transform: scale(0.5);
	/* scale: 0.5; */
}
.block__box:hover .block__inner--06 {
	transform: rotate(20deg);
	/* rotate: 20deg; */
}
.block__box:hover .block__inner--07 {
	transform: rotate(360deg);
	/* rotate: 90deg; */
}	
.block__box:hover .block__inner--08 {
	transform: rotateX(90deg);
	/* rotate: 120deg; */
}
.block__box:hover .block__inner--09 {
	transform: rotateY(90deg);
}
.block__box:hover .block__inner--10 {
	transform: scaleX(.5);
}
.block__box:hover .block__inner--11 {
	transform: skew(60deg,0);
}
.block__box:hover .block__inner--12 {
	transform: skew(0,60deg);
}
.block__box:hover .block__inner--13 {
	transform: scaleY(.5);
}
.block__box:hover .block__inner--14 {
	transform: rotate(-180deg);
	transform-origin: top left;
	scale: 1.5;
}

/* cubes-transform */
.cubes{
	padding: 50px 0;
	text-align: center;
}
.cubes__container {}

.cubes__row {
	text-align: center;
	display: inline-block;
	font-size: 0;
	margin: 0 -12px -12px;
}
.cube {
	padding: 0 12px 12px;
	display: inline-block;
	text-align: start;
}
.cube__box {
	display: inline-block;
	width: 200px;
	min-height: 200px;
	font-size: 16px;
	background-color: #B7B7A4;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	vertical-align: top;
	padding: 20px;
}
.cube__box>p {
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	width: 150px;
}
.cube__inner {
	width: 100%;
	min-height: 150px;
	background-color: #6B705C;
	box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	transition: all 0.6s;
}
.cube__inner:not(:last-child) {
	margin-bottom: 10px;
}
.cube__inner--1 {}

.cube__content {
	font-size: 140px;
	font-weight: 700;
	text-align: center;
	height: 155px;
	line-height: 150px;
	color: #f0f0f0;
}
.cube__box:hover .cube__inner--1 {
	transform: translate3d(20px, 20px, 20px);
}
.cubes__row-05 {
	position: relative;
	z-index: 1;
}
.cube__box--01,
.cube__box--02,
.cube__box--03,
.cube__box--04,
.cube__box--05,
.cube__box--06 {
	perspective: 150px;
	perspective-origin: center;
}
.cube__box:hover .cube__inner--01 {
	transform: rotateX(60deg);
}
.cube__box:hover .cube__inner--02 {
	transform: rotateX(180deg);
}
.cube__box:hover .cube__inner--03 {
	transform: rotateY(60deg);
}
.cube__box:hover .cube__inner--04 {
	transform: translate3d(20px,30px,40px) rotate3d(20, 11, 15, 60deg);
}
.cube__box:hover .cube__inner--05 {
	transform: scale3d(2, 2, 5);
}
.cube__box:hover .cube__inner--06 {
	scale: 1.2;
	transform: translate3d(-200px, -100px, 200px) rotate3d(-5, 5, 5, 30deg);
}


/* =========== scene =========== */
.scene {
	position: relative;
}
.car-container {
	margin: 0 auto;
	padding: 300px 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
.car {}

.car__jeep {
	display: inline-block;
	font-size: 0;
	position: relative;
	z-index: 10;
	top: 225px;
	right: 48px;
}


/* ============== roof ============ */
.roof {
	position: relative;
	font-size: 0;
	/* transform: translate(0px, 1px); */
}
.roof::before,
.roof::after {
	content: "";
	background-color: #231f20;
	position: absolute;
	width: 15px;
}
.roof::before {
	height: 150px;
	top: 0;
	right: 80px;
	transform: rotate(-30deg) translate(1px, -4px);
}
.roof::after {
	height: 75px;
	top: 58px;
	right: 90px;
}

.roof__item {}

.roof__item--left {
	width: 40%;
	height: 130px;
	background-color: #4e9589;
	margin: 0 auto;
	transform: skew(-17deg, 0deg);
	position: relative;
	border-radius: 10px 10px 0 0;
}
.roof__item--left::after {
	content: "";
	width: 35px;
	height: 100%;
	background-color: #4e9589;
	position: absolute;
	top: 0;
	right: 0;
	transform: skew(15deg);
	transform-origin: top;
	border-radius: 0 10px 0 0 ;
}
.window {
	width: 135px;
	height: 114px;
	background-color: #bfe6f2;
	position: absolute;
	top: 15px;
	left: 30px;
	z-index: 4;
	border-top: 3px solid darkgreen;
	border-left: 3px solid darkgreen;
	border-bottom: 3px solid darkgreen;
	border-radius: 10px 10px 0 10px;
}
.window::after {
	content: "";
	width: 35px;
	height: 102%;
	background-color: #bfe6f2;
	transform: skew(15deg) translate(97px, 0);
	transform-origin: top left;
	border-right: 3px solid darkgreen;
	border-bottom: 3px solid darkgreen;
	border-radius:0 10px 10px 0 ;
}
.mirror {
	width: 20px;
	height: 40px;
	border-radius: 10px;
	background-color: #000;
	position: absolute;
	bottom: -10px;
	left: 100px;
	z-index: 5;
}
.door {
	width: 161px;
	height: 130px;
	background-color: transparent;
	border: 3px solid darkgreen;
	border-top: none;
	border-radius: 0 0 30px 10px;
	position: absolute;
	top: -8px;
	left: -1px;
	z-index: 3;
}
.door__handle {
	width: 27px;
	height: 10px;
	border-radius: 5px;
	background-color: #2d2b2a;
	position: absolute;
	top: 30px;
	right: 15px;
}
.roof__item--right {
	position: relative;
}

.pipe {
	background-color: #231f20;
	width: 20px;
	position: absolute;
}
.short-pipe {}

.long-pipe {
	height: 150px;
	top: 0;
	left: 0;
}

/* ============= body ============ */
.body {
	font-size: 0;
}
.body__item {
	width: 150px;
	height: 80px;
	background-color: #4e9589;
	display: inline-block;
	position: relative;
	font-size: 0;
}
.body__item--top-left {
	border-radius: 50px 0 0 0;
}
.body__front-light {
	width: 30px;
	height: 40px;
	background-color: #cbe9f4;
	border: 1px solid gray;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: -10px;
	transform: rotate(10deg);
}
.body__item--top-middle {}

.body__item--top-right {
	position: relative;
	border-radius: 0 10px 0 0;
}
.body__item--top-right::before,
.body__item--top-right::after {
	content: "";
	width: 50px;
	height: 5px;
	background-color: #6B705C;
	position: absolute;
	border-radius: 10px;
}
.body__item--top-right::before {
	top: 30px;
	left: 30%;
}
.body__item--top-right::after {
	bottom: 60px;
	left: 30%;
}
.body__rear-light {
	width: 30px;
	height: 40px;
	background-color: #e23b42;
	position: absolute;
	top: 15px;
	right: 0;
	border-radius: 3px;
}
.body__rear-turnlight {
	width: 30px;
	height: 20px;
	background-color: #f2743a;
	position: absolute;
	bottom: 8px;
	right: 0;
	border-radius: 3px;
}
.extra-wheel {
	width: 40px;
	height: 110px;
	background-color: #231f20;
	border-radius: 10px;
	position: absolute;
	top: -13px;
	right: -40px;
}
.body__item--bottom-left {
	position: relative;
	border-radius: 0 0 0 25px;
}
.body__front-turnlight {
	width: 20px;
	height: 20px;
	background-color: #f2743a;
	transform: skew(-10deg);
	position: absolute;
	top: -5px;
	left: 0;
	border-radius: 3px;
}
.bumper {
	width: 30px;
	height: 30px;
	background-color: #2d2b2a;
	border-radius: 5px;
}
.body__front-bumper {
	position: absolute;
	top: 25px;
	left: -10px;
}
.wing {
	width: 125px;
	height: 75px;
	border: 5px solid #006400 ;
	background-color: #172808;
	position: absolute;
	border-radius: 40px 40px 0 0 ;
	border-bottom: none;
}
.wing--left {
	top: 6px;
	left: 22px;
}
.wing--right {
	top: 6px;
	right: 22px;
}
.wheel {
	/* display: none; */
	width: 100px;
	height: 100px;
	background-color: #231f20;
	border-radius: 50%;
	outline: 5px dashed #4c4c4c;
	position: relative;
	z-index: 1;
}
.rear-wheel {
	position: absolute;
	top: 30%;
	right: 23%;
}
.front-wheel {
	position: absolute;
	top: 30%;
	left: 23%;
}
.rim {
	width: 30px;
	height: 30px;
	outline: 5px double #000;
	border: 7px dotted #000;
	border-radius: 50%;
	background-color: #4c4c4c;
	position: absolute;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
}

.body__item--bottom-middle {}

.body__item--bottom-right {
	border-radius: 0 0 25px 0;
}
.body__rear-bumper {
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 18px;
	right: -23px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

/* background */
.background {
	position: relative;
}
.sky {
	width: 100%;
	height: 680px;
	background-color: #87ceeb;
	position: relative;
}
.sun {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: yellow;
	box-shadow: 1px 1px 10px yellow;
}
/* cloud */
.cloud {
	max-width: 300px;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.cloud__circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
}
.cloud__circle::before,
.cloud__circle::after {
	content: "";
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
}
.cloud__circle::before {
	transform: translate(-74px, 20px);
}
.cloud__circle::after {
	transform: translate(93px, 20px);
}
.cloud--left {
	top: 20%;
	left: 12%;
}
.cloud--centered {
	top: 18%;
	left: 40%;
}
.cloud--rigth {
	top: 15%;
	left: 75%;
}
/* grass */
.grass {
	width: 100%;
	height: 200px;
	background-color: #228B22;
	position: relative;
}
.bush-box {
	max-width: 300px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: 20px;
	left: 40%;
}
.bush {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: darkgreen;
}

/* tree */
.tree {
	display: inline-block;
	position: absolute;
}
.tree--left {
	top: 15%;
	left: 20%;
}
.tree--centered {
	top: -36px;
	left: 46%;
}
.tree--right {
	top: 14%;
	right: 20%;
}
.tree__trunk {
	width: 30px;
	height: 200px;
	background-color: #8B4513;
	position: absolute;
	top: -100px;
	left: 0;
}
.tree__trunk::before,
.tree__trunk::after {
	content: "";
	width: 15px;
	height: 70px;
	background-color: #8B4513;
	position: absolute;
}
.tree__trunk::before {
	top: 0;
	left: 0;
	transform: skew(35deg, 0) translate(-23px, 0);
}
.tree__trunk::after {
	top: 45px;
	right: 0;
	transform: skew(-35deg, 0) translate(23px, 0);
}
.tree__leaf {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #228B22;
	position: absolute;
}
.tree__leaf--left {
	top: -165px;
	left: -117px;
}
.tree__leaf--center {
	top: -195px;
	left: -35px;
}
.tree__leaf--right {
	top: -154px;
	left: 23px;
}
.road {
	width: 100%;
	height: 400px;
	background-color: gray;
	position: relative;
}
.line {
	width: 100%;
	height: 20px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}
.apple {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
}
.apple--01 {
	top: 20px;
	left: 30px;
}
.apple--02 {
	top: 68px;
	left: 39px;
}
/* ============footer========== */
.footer {
	padding-top: 50px;
}
.footer__container {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.footer__body {}
















/* ======================= */
.tooltip {
	display: none;
	position: relative;
	background: #333;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	width: max-content;
	font-size: 14px;
}

/* Хвостик */
.tooltip::after {
	content: '';
	position: absolute;
	top: 100%;
	/* під елементом */
	left: 20px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #333;
}

/*
.figure {
	display: flex;
	justify-content: space-around;
	padding: 100px 0;
}
.shape {
	width: 200px;
	height: 200px;
	color: red;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}
.circle {
	background: crimson;
	clip-path: circle(50% at 50% 50%);
}
.ellipse {
	background: teal;
	clip-path: ellipse(50% 30% at 50% 50%);
}
.inset {
	background: darkorange;
	clip-path: inset(20% 10% 20% 10%);
}
.polygon {
	background: royalblue;
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
*/

/*
.hull-container {
	position: relative;
	width: 400px;
	height: 100px;
	background-color: transparent;
	margin: 0 auto;
}
.hull {
	position: relative;
	width: 100%;
	height: 100%;
	background: #b82020;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 10px;
}
.hull::before {
  	content: "";
  	position: absolute;
  	left: -50px;
  	top: 0;
  	width: 100px;
  	height: 100%;
  	background: #b82020;
  	transform: skewX(45deg);
  	transform-origin: right;
  	visibility: visible;
  }
.hull::after {
	content: "";
	position: absolute;
	right: -50px;
	top: 0;
	width: 100px;
	height: 100%;
	background: #b82020;
	transform: skewX(-45deg);
	transform-origin: left;
	visibility: visible;
}
*/


/*
.hull {
	margin: 0 auto;
	position: relative;
	width: 300px;
	height: 80px;
	background: #8B0000;
	border-radius: 0 0 40px 10px;
	overflow: hidden;
}
.hull::before {
	content: "";
	position: absolute;
	width: 160px;
	height: 80px;
	background: #000;
	left: -40px;
	top: 0;
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	transform: skewX(-10deg);
}
*/

